{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "flowtype",
    "react"
  ],
  "rules": {
    "linebreak-style": ["error", "windows"],
    "id-length": 0,
    "no-console": 0,
    "no-unused-vars": [1, {"vars": "local", "args": "none"}],
    "strict": 0,
    "class-methods-use-this": 0,
    "no-confusing-arrow": 0
  },
  "parserOptions": {
    "ecmaVersion": 6
  }
}